<p>Estimado <%=@person.full_name%></p>
<p>Como parte de la evaluacion de nuestro servicio de atención 
le pedimos contestar la siguiente encuesta</p>
<p> La encuesta se encuentra disponible en el siguiente link</p>
<p>
  <a href= "https://es.research.net/r/5M8JN3T">Encuesta Calidad de atención</a>
</p>
<p>De antemano muchas gracias</p>

